*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;

}
.header{
    width: 100%;
    height: 100%;
}
.listLeft a:hover, .listChanges a:hover, .listTopMenu a:hover{
    color: burlywood;
    animation-name: click;
    animation-duration: 0.2s;
}
.listLeft{
    height: 100%;
    width: 180px;
    background-color: rgb(20, 79, 189);
}
.listLeft ul{
    padding-top: 20px;
    margin-left: 30px;
    color: whitesmoke;
}
.listLeft li{
    margin-bottom: 10px;
}
.listLeft a{
    font-size: large;
}
.topBar {
  position: fixed;
  top: -270px;
  left: 530px;
  width: 400px;
  height: 270px;
  background: rgb(20, 79, 189, 0.8);
  display: flex;
  transition: 0.4s ease;
  list-style: none;
  border-radius: 5px;
}
#topBar.active {
  top: 0;
}
.topBar ul li{
    list-style: none;
}
.topBarForm, .topBarAction{
    position: absolute;
}
.topBarForm{
    width: 80%;
    height: 200px;
    justify-items: center;
    left: 10%;
    top: 10%;
}
.topBarForm input, .TopBarForm select{
    width: 300px;
    display: flex;
    height: 50px;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 4px;
    border: 0;
}
.topBarAction{
    width: 134px;
    height: 40px;
    left:133px;
    bottom: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 17px;
}
.topBarAction{
    gap: 15px;
}
.list, .searchIcon{
    position: absolute;
}
.list{
    height: 60%;
    width: 40%;
    left: 30%;
    bottom: 0;
    background-color: rgb(20, 79, 189, 0.8);
    border-radius: 10px;
}
.listTopMenu .searchIcon a{
    font-size: x-large;
}
.listTopMenu{
    position: absolute;
    width: 200px;
    height: 40px;
    right: 0;
}
.searchIcon{
    height: 20px;
    width: 30px;
    padding-top: 3px;
    top: 5px;
    right: 10px;
}
.searchBar{
    position: absolute;
    width: 150px;
    height: 40px;
    background-color: yellow;
    border-radius: 4px;
    transition: 0.2s ease;
    transform: scaleX(0);
}
.searchBar input{
    width: 100%;
    display: flex;
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 4px;
    border: 0;
}
#searchBar.active{
    transform: scaleX(1);
}
.listDb{
    height: 85%;
    width: 80%;
    margin: auto;
    margin-top: 12%;
}
.listDbPeace:hover .listChanges{
    opacity: 1;
    visibility: visible;
}
.listDbPeace{
    position: relative;
    width: 100%;
    height: 10%;
    background-color: rgb(119, 137, 238);
    border-radius: 50px;
}
.listChanges{
    margin-left: auto;
    border-radius: 50px;
    height: 100%;
    width: 16%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.listChanges ul{
    display: flex;
    list-style: none;
    padding: 8% 0 0 10%;
}
.listChanges ul li a{
    font-size: 24px;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
@keyframes click {
  from {color: whitesmoke;}
  to {color: burlywood;}
}


